
html {
    background-image: url('images/ibits_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}
body {
    font-family: 'Inter', sans-serif;
}

* {
    transition: all 0.15s ease-in-out;
}

input:focus, button:focus {
    --tw-ring-color: rgb(59 130 246 / 0.5); 
}
 